.topcontainer{
    background:url(..//..//..//.//.//..//..//./IMG_1969.jpg);
    height: 100vh;
    background-position:center;
    background-size: cover;
    background-repeat:no-repeat;
    shape-image-threshold: calc();
}